@model IEnumerable<Blog.Models.Posts>

@{
    ViewData["Title"] = "Meus Posts";
}
<script src="https://kit.fontawesome.com/0ba84eacf9.js" crossorigin="anonymous"></script>

<h2 class="text-center mb-4 mt-5">My Posts</h2>
@if (!Model.Any())
{
    <div class="alert alert-info text-center" role="alert">
        You haven't created any posts yet.
    </div>
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 shadow">
                    <img class="card-img-top img-fluid" src="@item.Image" alt="@item.Description" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <p class="card-text mb-3">@item.Description</p>
                        <p class="card-text text-muted mb-1">by: @item.Email</p>
                        <p class="card-text text-muted"> @item.CreatedAt.ToShortDateString()</p>
                    </div>
                    <div class="card-footer bg-white border-top-0">
                        <div class="btn-group" role="group" aria-label="Post Actions">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="fas fa-eye"></i> 
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">
                                <i class="fas fa-edit"></i> 
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    body {
        background-color: #ecfeff;
        color: #333;
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #333;
    }

    .card {
        transition: all 0.3s ease;
        border: none;
        background-color: #fff;
    }

    .card-footer {
        background-color: #fff;
        border-top: none;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .btn-primary, .btn-secondary, .btn-danger {
        border: none;
    }

    .btn-primary {
        background-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .btn-secondary {
        background-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #545b62;
        }

    .btn-danger {
        background-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }
</style>
