@model IEnumerable<Blog.Models.Posts>

@{
    ViewData["Title"] = "Latest Posts";
}
<script src="https://kit.fontawesome.com/0ba84eacf9.js" crossorigin="anonymous"></script>

<h1 class="text-center">Latest Posts</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 shadow">
                    <img class="card-img-top img-fluid" src="@item.Image" alt="@item.Description" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Post Actions">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="fas fa-eye"></i> <!-- Ícone para "Read More" -->
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">
                                <i class="fas fa-edit"></i> <!-- Ícone para "Edit" -->
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> <!-- Ícone para "Delete" -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card {
        transition: all 0.3s ease;
        border: none;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }
</style>
